* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
 
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background: #626465;    
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}
 
.weather-clock {
    height: 50px;
    font-size: 70px;
    font-weight: bold;
    color: #d5d5d5;
    text-align: center;
    margin-top: 30px;
}
 
#weather-icon{
    margin-top: 44px;
    background: url(../img/sunny.png) no-repeat center;
    background-size: 256px;
    height: 256px;
    transparent: none
}
 
.weather-info {
    margin-top: 40px;
    font-size: 25px;
    color: #d5d5d5;
    text-transform: none;
}
 
.weather-city {
    margin-top: 30px;
    font-size: 40px;
    text-align: center;
    color: #9c9c9c;
    text-transform: none;   
}
 
.weather-bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
}